[submodule "polari-platform-angular"]
	path = frontend
	url = https://github.com/dausume/polari-platform-angular.git
[submodule "Polari-Framework"]
	path = backend
	url = https://github.com/dausume/Polari-Framework