[submodule "polari-platform-angular"]
	path = polari-platform-angular
	url = https://github.com/dausume/polari-platform-angular.git
[submodule "polari-framework"]
	path = polari-framework
	url = https://github.com/dausume/Polari-Framework.git